<!DOCTYPE html>
<html>

    <%- include(`partials/head`); %>

    <body class="content">

        <%- include(`partials/header`); %>

        <main class="main">

            <!-- INSERT CODE HERE -->

            <% for (const category of categories) { %>

            <section class="section secondary-color-bg">

                <div class="centered-container">
                    <h1 class="font-secondary main-color">
                        <span class="main-color-emphasized"><%= category.name %></span>
                        Inventory</h1>
                    <div class="separator"></div>
                </div>

                <% if (category.items.length !== 0) { %>
                <div class="gallery">
                    <% for (const item of category.items) { %>
                    <div class="photo-box">
                        <img class="photo-box-image" src="<%= item.imageurl %>">
                        <div class="photo-box-title font-secondary main-color-emphasized">
                            <a class="link" href="../item/<%= item.id %>"><%= item.name %></a>
                        </div>
                    </div>

                    <% } %>
                </div>
                <% } else { %>
                <div class="centered-container">
                    <span class="photo-box-title font-secondary main-color">
                        No items in this category
                    </span>
                </div>
                <% } %>

            </section>

            <% } %>

        </main>


        <%- include(`partials/footer`); %>


    </body>

</html>